<h2>Selling Prices in <%= @board.owner.display_name %>'s Board:</h2>
<% @board.participants.each do |user| %>
    <p><%= user.display_name %> - 
    <% if user.latest_selling_price.nil? %>
        No Price set </p>
    <% else %>
        <%= user.latest_selling_price.price %> Bells on <em><b><%= I18n.l(user.latest_selling_price.time_submitted, format: "%a, %-d %b %Y") %></b></em> in the <%= user.latest_selling_price.time_of_day %></p>
    <% end %>
<% end %>